.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    background: linear-gradient(to right, blue, lightblue, white, lightblue, blue);
}

/* .prognoza{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
} */
